<mat-toolbar layout="row" class="mat-hue-3">
    <div class="mat-toolbar-tools">
        <mat-icon matListIcon>person</mat-icon> 
        <span class="device-padding">About Me</span>
    </div>
  </mat-toolbar>
  <p>
    13+ years of experience in Web development with extensive knowledge in PHP, MYSQL, HTML, CSS, JQuery, and Angular 2. </p><p>
    Proven record in outstanding performance, Quick turnaround, Decision making & Organizational skills. </p><p>
    Expert in development and maintenance of large enterprise systems. </p><p>
    Experienced professional with career spanning roles of Project Leader, Team Leader, Configuration Controller, Onsite Coordinator and Senior Developer</p><p>
    Acknowledged resource providing effective solutions to meet customer business requirements. </p><p>
    Customer focused, successful in building relationships with key decision makers, seizing control of critical problem areas & delivering on customer commitments.</p><p>
    Highly adept at multi-tasking on several projects, resolving conflicts, mentoring team members and possess excellent decision-making ability.</p><p>
    Experienced in preparing the project PROPOSAL documents like Estimation, Understanding and Query sheet documents.</p><p>
    Proven expertise in working in different operating system environments.</p><p>
    Passionate about great technologies, especially open source.</p>
    <p><b>Certified in AWS Developer associate and Scrum master (PSM 1)</b></p>